.profile-banner {
  display: flex;
  align-items: flex-end;
  justify-content: left;
  background-size: cover;
  background-position: center;
  color: var(--contrast-color);
  position: relative;
  padding-bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 40px 20px 20px 20px;
}

.profile-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, var(--primary-color) 10%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.6) 100%);
  z-index: 1;
}

.banner-content {
  position: relative;
  max-width: 800px;
  font-weight: bold;
  width: 100%;
  padding: 50px 0px;
  box-sizing: border-box;
  padding-top: 10px;
  z-index: 10;
  animation: slideUp 1s ease-out;
}

.banner-headline {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  line-height: 1.1;
}

.banner-description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #e5e5e5;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  max-width: 600px;
  line-height: 1.5;
}

.banner-buttons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.banner-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  color: var(--contrast-color);
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.play-button {
  background-color: var(--emphasis-color);
}

.info-button {
  background-color: rgba(109, 109, 110, 0.7);
}

.banner-button:hover {
  background-color: var(--accent-color-2);
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .banner-content {
    max-width: 100%;
    padding-bottom: 40px;
  }

  .profile-banner {
    padding: 60px 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .banner-headline {
    font-size: 2.5rem;
    margin-top: 5rem;
  }

  .banner-description {
    font-size: 1rem;
    margin: 0 auto 2rem auto;
  }

  /* Button adjustments */
  .banner-buttons {
    justify-content: center;
  }

  .banner-button {
    width: auto;
    padding: 10px 15px;
    font-size: 0.9rem;
  }
}