.profile-card {
  position: relative;
  margin: 10px;
  cursor: pointer;
  height: 10vw;
  max-height: 200px;
  max-width: 200px;
  min-height: 84px;
  min-width: 84px;
  text-decoration: none;
  width: 10vw;
  border-radius: 0.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-card:hover {
  transform: scale(1.05);
  z-index: 2;
}

.profile-name {
  color: #808080;
  text-transform: capitalize;
  transition: color 0.3s ease;
}

.profile-card:hover .profile-name {
  color: #fff;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.profile-card:hover .image-container {
  border-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-name {
  display: block;
  font-size: 1.3vw;
  line-height: 1.2em;
  margin: 0.6em 0;
  min-height: 1.8em;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  font-weight: 400;
}

@media (max-width: 768px) {
  .profile-card {
    width: 40vw;
    height: 40vw;
  }

  .profile-name {
    font-size: 14px;
  }
}